<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestStringComparisonTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>486BB1D11C3B05C7004D1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486BB1ED1C3B05C7004D1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486BB1F81C3B05C7004D1118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
